# IDE
## Eclipse
.project
.classpath
.settings/

## IntelliJ
*.iml
*.ipr
*.iws
.idea

# Build artifacts
.gradle
build/
out/
target/

# Logs
*.log

# Floobits
.floo

# Test resources which shouldn't be part of SCM
src/test/resources/hoverfly/recorded-simulation.json
src/test/resources/hoverfly/first-multi-capture**
src/test/resources/hoverfly/third-multi-capture/
junit5/src/test/resources/hoverfly/io_specto_hoverfly_junit5_HoverflyDefaultCaptureTest_NestedTest.json
*scenario.json

# Misc
requests.db
.DS_Store